body {
    font-family: "Londrina Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    gap: 20px;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-style: normal; 
    font-size: 60px; 
}

.card {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    height: 200px;
    width: 400px;
    background-color: #e0e0e0;
    color: #101010;
    border-radius: 20px;
    border-style: outset;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    padding: 50px;
    }

.button {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    height: 80px;
    width: 200px;
    color: #101010;
    background-color: #c0c0c0;
    background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
    border: solid;
    border-style:outset;
    border-radius: 10px;
    box-shadow: 10px;  
    transition: transform 0.25s; 
}

.button:hover {
    cursor: pointer;;
}

button:active {
    transform: scale(0.95);
}

footer {
    font-family: "Yuji Syuku", serif;
    margin-top: 50px; 
}